:root {
  --font-family: "Inter", sans-serif;

  // Font-weights
  --regular: 500;
  --semi-bold: 700;
  --bold: 800;

  // Small size font
  --font-size-8: 8px;
  --font-line-8: 16px;
  --paragraph-8: var(--font-size-8) / var(--font-line-8) var(--font-family);

  --font-size-10: 10px;
  --font-line-10: 18px;
  --paragraph-10: var(--font-size-10) / var(--font-line-10) var(--font-family);

  --font-size-12: 12px;
  --font-line-12: 20px;
  --paragraph-12: var(--font-size-12) / var(--font-line-12) var(--font-family);

  --font-size-14: 14px;
  --font-line-14: 22px;
  --header-14: var(--semi-bold) var(--font-size-14) / var(--font-line-14) var(--font-family);
  --paragraph-14: var(--font-size-14) / var(--font-line-14) var(--font-family);


  --font-size-16: 16px;
  --font-line-16: 22px;
  --header-16: var(--font-size-16) / var(--font-line-16) var(--font-family);
  --paragraph-16: var(--font-size-16) / var(--font-line-16) var(--font-family);

  --font-size-20: 20px;
  --font-line-20: 28px;
  --header-20: var(--semi-bold) var(--font-size-20) / var(--font-line-20) var(--font-family);
  --paragraph-20: var(--semi-bold) var(--font-size-20) / var(--font-line-20) var(--font-family);

  // Medium size font
  --font-size-24: 24px;
  --font-line-24: 32px;
  --header-24: var(--semi-bold) var(--font-size-24) / var(--font-line-24) var(--font-family);
  --paragraph-24: var(--semi-bold) var(--font-size-24) / var(--font-line-24) var(--font-family);

  --font-size-28: 28px;
  --font-line-28: 36px;
  --header-28: var(--font-size-28) / var(--font-line-28) var(--font-family);
  --paragraph-28: var(--font-size-28) / var(--font-line-28) var(--font-family);

  --font-size-32: 32px;
  --font-line-32: 40px;
  --header-32: var(--semi-bold) var(--font-size-32) / var(--font-line-32) var(--font-family);
  --paragraph-32: var(--semi-bold) var(--font-size-32) / var(--font-line-32) var(--font-family);


  // Large size font
  --font-size-36: 36px;
  --font-line-36: 44px;
  --header-36: var(--font-size-36) / var(--font-line-36) var(--font-family);
  --paragraph-36: var(--font-size-36) / var(--font-line-36) var(--font-family);

  --font-size-64: 64px;
  --font-line-64: 72px;
  --header-64: var(--font-size-64) / var(--font-line-64) var(--font-family);


  // XLarge size font
  --font-size-98: 98px;
  --font-line-98: 106px;
  --header-98: var(--font-size-98) / var(--font-line-98) var(--font-family);

  // z - Индексы
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --box-shadow: rgba(229, 229, 229, 0.7);
  --border: #edf2f7;
  --white: #ffffff;
  --lightest-grey: #F5F5F5;
  --light-grey: #EAEAEA;
  --grey: #C9C9C9;
  --medium-grey: #9D9D9D;
  --dark-grey: #797979;
  --darkest-grey: #525252;
  --black: #333333;
  --blue-default: #2C41FF;
  --blue-hovered: #0000D9;
  --indigo: #161F69;
  --blue: #8995FF;
  --lavender: #BCC3FF;
  --light-blue: #E3E6FF;
}
