.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 8px 16px;
  display: flex;
  align-items: center;
	border-radius: 5px;
	border-radius: 5px;


  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.withAddon {
  padding: 0 16px;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.square {
  padding: 0;
}

.filled {
  color: var(--button-filled-color);
  background: var(--button-filled-bgc);
  border: 2px solid;
  border-color: var(--button-filled-border);

  &:hover {
    background-color: var(--button-filled-bgc-hover);  
    color: var(--button-filled-color-hover);  }
  &:active{
    background-color: var(--button-filled-bgc-pressed);  
    color: var(--button-filled-color-pressed);
    border: none;
  }
  &:disabled{
    background-color: var(--button-filled-bgc-disabled);
    color: var(--button-filled-color-disabled);
    border: 1px solid var(--button-filled-border-disabled);
  }
}

.stroke {
  color: var(--button-stroke-color);
  background: var(--button-stroke-bgc);
  border: 2px solid var(--button-stroke-border);

  &:hover {
    background-color: var(--button-stroke-bgc-hover);  
  }
  &:active{
    background-color: var(--button-stroke-bgc-pressed);  
    color: var(--button-stroke-color-pressed);
  }
  &:disabled{
    background-color: var(--button-stroke-bgc-disabled);
    color: var(--button-stroke-color-disabled);
    border: 1px solid var(--button-stroke-border-disabled);
  }
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
