.dark_theme {
  --bg-color: #333333;
  --inverted-bg-color: #2c2c3b;
  --title-color: #E3E6FF;
  --primary-color: #ffffff;
  --card-bg-color: #444444; 
  --card-title-color: var(--lavender);
  --card-description-color: var(--white);
  --card-border-color:var(--lavender);
  --card-button-color:var(--light-blue);
  --card-button-color-hover:var(--lavender);
  --card-button-color-text-hover:var(--black);
}
